Absolutely, David! I’ll create five exercises that progressively build your understanding of list comprehensions, lambda functions, and their use in Pandas. These exercises will start from foundational elements and grow in complexity to help you become more comfortable with the concepts. Let’s dive in:

### Exercise 1: Basic List Comprehensions
**Goal**: Practice basic list comprehensions by creating a new list.

**Task**:
1. You have a list of numbers: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.
2. Create a new list that contains **only the even numbers** from this list using a list comprehension.
3. Then, create another list that contains the **squares** of these even numbers.

**Hints**:
- For filtering evens: Use the modulus operator `%` to find even numbers.
- For squaring: Just multiply the number by itself.

**Example**:
- Original List: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`
- Filtered (Evens): `[2, 4, 6, 8, 10]`
- Squares of Evens: `[4, 16, 36, 64, 100]`

### Exercise 2: Rewrite List Comprehensions in Expanded Form
**Goal**: Understand the expanded form of list comprehensions.

**Task**:
1. Rewrite the following list comprehension into its more "traditional" form using a loop and conditional statements:
   ```python
   numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
   even_numbers = [x for x in numbers if x % 2 == 0]
   ```
2. Write the equivalent code using a `for` loop and `if` statements, creating a new list called `even_numbers` by explicitly appending elements.

**Hint**:
- Start by creating an empty list, iterate through `numbers`, check if it’s even, and then append it.

### Exercise 3: Lambda Function Practice with Filtering
**Exercise 3: Filtering Practice in Two Parts**

Let’s break this exercise into two smaller steps so you can get more comfortable with the `filter()` function and how it works, both with traditional functions and with `lambda`.

#### Part 1: Using `filter()` with a Traditional Function

**Goal**: Understand the `filter()` function with a traditional function before moving to lambdas.

**Task**:

1. You have a list of names: `names = ["Anna", "Bob", "Charlie", "David", "Evelyn", "Frank"]`.
2. Write a regular function named `contains_a()` that returns `True` if a name **contains the letter 'a'** (case insensitive) and `False` otherwise.
3. Use the `filter()` function to create a **filtered list** of names that **do contain** the letter 'a'.
4. Print the list of filtered names.

**Hints**:

- Define the function like this:

  ```python
  def contains_a(name):
      return 'a' in name.lower()
  ```

  This function converts the name to lowercase to make sure it catches both uppercase and lowercase 'a'.

- Use the `filter()` function like this:

  ```python
  filtered_names = filter(contains_a, names)
  ```

  `filter()` takes two arguments: the function to apply (`contains_a`) and the list to filter (`names`). It will return an **iterator**, which you can convert to a list by using `list(filtered_names)`.

**Expected Output**:

- The filtered list should contain names like: `['Anna', 'Charlie', 'David', 'Frank']`.

#### Part 2: Using `filter()` with a Lambda Function

**Goal**: Now that you understand the basics of `filter()`, use a `lambda` function to accomplish the same task.

**Task**:

1. Use the same list of names: `names = ["Anna", "Bob", "Charlie", "David", "Evelyn", "Frank"]`.
2. Instead of writing a traditional function, use a `lambda` function with `filter()` to filter out names that **do contain** the letter 'a' (case insensitive).
3. Print the list of filtered names.

**Example**:

- Here’s how to use a `lambda` function with `filter()`:

  ```python
  filtered_names_lambda = filter(lambda name: 'a' in name.lower(), names)
  filtered_names_list = list(filtered_names_lambda)
  print(filtered_names_list)
  ```

**Expected Output**:

- You should get the same filtered list as Part 1: `['Anna', 'Charlie', 'David', 'Frank']`.





### Exercise 4: Apply a Function to a DataFrame
**Goal**: Practice applying a function using `.apply()`.

**Task**:
1. Create a DataFrame with the following data:
   ```python
   import pandas as pd

   data = {
       'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Evelyn'],
       'Age': [25, 30, 35, 40, 45]
   }

   df = pd.DataFrame(data)
   ```
2. Write a function `double_age()` that takes an age as input and returns **twice** that age.
3. Use `.apply()` to create a new column called `'Double Age'` that contains the doubled value of the age for each row using your function.

**Hints**:
- Define `double_age()` using a regular function (no lambda this time).
- Use `.apply()` on the `'Age'` column and assign the result to a new column `'Double Age'`.

### Exercise 5: Advanced Filtering with `.apply()` and List
**Goal**: Combine all concepts with DataFrame filtering.

**Task**:
1. Expand the DataFrame you created in Exercise 4 by adding a column `'Bio'`:
   ```python
   df['Bio'] = [
       'Alice is a software developer.',
       'Bob enjoys playing soccer.',
       'Charlie is a data analyst.',
       'David loves painting and hiking.',
       'Evelyn writes poetry and blogs.'
   ]
   ```
2. Write a function `contains_keyword()` that takes a string and a list of keywords as input. It should return `True` if **any** of the keywords are found in the string.
3. Use `.apply()` to filter the rows of the DataFrame where the `'Bio'` contains any of the keywords from the list `['developer', 'data', 'hiking']`.
4. Assign the filtered DataFrame to a new DataFrame called `filtered_df`.

**Hints**:
- You can start by defining `contains_keyword()` with a simple `for` loop to iterate over the list of keywords.
- The function can look like:
  ```python
  def contains_keyword(text, keywords):
      for word in keywords:
          if word in text.lower():
              return True
      return False
  ```
- Use `.apply()` on the `'Bio'` column along with the `contains_keyword()` function.

### How These Exercises Will Help:
1. **Exercise 1** helps you practice list comprehensions, filtering, and transforming lists.
2. **Exercise 2** gives you a side-by-side understanding of list comprehensions versus traditional loops, which makes it easier to see what’s being condensed.
3. **Exercise 3** lets you experiment with lambda functions and how they can be used in filtering.
4. **Exercise 4** introduces you to applying functions in Pandas to transform data.
5. **Exercise 5** ties it all together with filtering and lambda-style functions applied to more real-world DataFrame use cases.

Feel free to work through each exercise at your own pace. Let me know if you need hints, explanations, or if you'd like to walk through the solutions together!

Exercise 1

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even_numbers(list):
    new_list = []
    for item in list:
        if item % 2 == 0:
            new_list.append(item)
    return new_list

print(even_numbers(numbers))

def square_number(list):
    new_list = []
    for item in list:
        new_list.append(item**2)
    return new_list
        
print(square_number(even_numbers(numbers)))

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

Exercise 2

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even_numbers_2(numbers):
    new_list = []
    for number in numbers:
        if number % 2 ==0:
            new_list.append(number)
    return new_list

print(even_numbers_2(numbers))

[2, 4, 6, 8, 10]

Exercise 3 Part 1

In [2]:
names = ["Anna", "Bob", "Charlie", "David", "Evelyn", "Frank"]

def contains_a(item):
    if 'a' in item.lower():
        return True
    else:
        return False

filtered_names = filter(contains_a, names)
print(list(filtered_names))

['Anna', 'Charlie', 'David', 'Frank']

Exercise 3 Part 2

In [3]:
filtered_names_lambda = filter(lambda item: 'a' in item.lower(), names)
print(list(filtered_names_lambda))

['Anna', 'Charlie', 'David', 'Frank']

Exercise 4

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Evelyn'],
    'Age': [25, 30, 35, 40, 45]
}

df = pd.DataFrame(data)

In [6]:
def double_age(age):
    return age*2

In [7]:
df['Double Age'] = df['Age'].apply(double_age)
df.head()

      Name  Age  Double Age
0    Alice   25          50
1      Bob   30          60
2  Charlie   35          70
3    David   40          80
4   Evelyn   45          90

Exercise 5

In [8]:
df['Bio'] = [
    'Alice is a software developer.',
    'Bob enjoys playing soccer.',
    'Charlie is a data analyst.',
    'David loves painting and hiking.',
    'Evelyn writes poetry and blogs.'
]
df.head()

      Name  Age  Double Age                               Bio
0    Alice   25          50    Alice is a software developer.
1      Bob   30          60        Bob enjoys playing soccer.
2  Charlie   35          70        Charlie is a data analyst.
3    David   40          80  David loves painting and hiking.
4   Evelyn   45          90   Evelyn writes poetry and blogs.

In [9]:
def contains_keyword(text, keywords):
    for word in keywords:
        if word in text.lower():
            return True
        else:
            return False

In [ ]:
filtered_df = df['Bio'].apply()